html {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed fixed;
    background-size: cover;
    height: 100%;
    font-family: Helvetica;
    overflow: hidden;
    -webkit-user-select: auto;
}

#profile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

#card{
    display: block;
    text-align: center;
    border: lpx solid rgba(255,184,125, 0.5);
    border-radius: 8px;
    width: 30rem;
    padding: 1rem;
    margin: 5rem auto;
    background-color: rgba(255,255,255 0.1);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 .25rem rgba(255, 255, 255, 0.418), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(255, 255, 255, 0.5);
}

#name {
    font-family: 'Lemon Milk';
    font-size: 32px;
    background: -webkit-linear-gradient(0deg,white 0%,rgb(255, 255, 255) 35%,rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.3px black;
}

#location{
    font-family: 'Montserrat' Bold;
    font-weight: 500;
    font-size: 30px;
    background: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 8, 8);
}

#pin {
    scale: 1.5;
}

#caption {
    color: white;
}

#html,#css,#javascript,#bootstrap{
    display: inline-flex;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.25rem 1rem;
    margin: 4px;
    font-size: 18px;
}

#html:hover,#css:hover,#javascript:hover,#bootstrap:hover {
    scale: 1.1;
    background-color: aliceblue;
    transition: 0.4s ease-out;
    color: black;
}

#socials {
    font-family: 'Lemon Milk';
    font-size: 24px;
    color: white;
}

#spotify {
    scale: 1.2;
    transition: 0.4s ease-out;
}

#discord {
    scale: 1.2;
    transition: 0.4s ease-out;
    padding: 0rem 0.25rem;
}

#ps4 {
    scale: 1.2;
}

#yt {
    scale: 1.2;
}

#insta {
    scale: 1.2;
}

#github {
    scale: 1.2;
    transition: 0.4s ease-out;
}

#spotify:hover,#tiktok:hover,#insta:hover,#yt:hover,#ps4:hover,#github:hover,#discord:hover {
    scale: 1.5;
    transition: 0.2 ease-out;
    cursor: pointer;
}